$greek-font: Cambria, Serif;
$main-font: sans-serif;
$text-color: #333;
$text-selected-bg-color: #F8D3A7;
$text-selected-color: #333;
$link-save-color: #28C2B6;
$points-color: #28C2B6; 

.daphne {
	border: 1px solid #EEE;
	background-color: #FFF;
	display: inline-block;
	position: relative;
	font-family: $main-font;
	font-size: 12px;
	width: 100%;
	height: 100%;

	.svg-container {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	a {
		font-size: 12px;
		display: inline-block;
		text-decoration: none;
		margin: 5px;

		&.save-link {
			color: #FFF;
			padding: 10px;
			background-color: $link-save-color;
			border-radius: 2px;
		}
		&.cancel-link {
			color: darken($link-save-color, 10%);
			border-bottom: 3px solid #BEBEBE;
			margin: 10px;
			padding: 2px;
		}

		&.export-link {
			position: absolute;
			right: 0;
			padding: 10px;

			&.xml {
				color: #F39F09;
			}
		}
	}

	.node {
		circle {
			stroke-width: 3px;
			fill: #FFF;

			&:hover, &.selected {
				stroke-width: 6px !important;
				cursor: pointer;
			}
		}
		text {
			font-size: 18px;
			fill-opacity: 1;
			fill: $text-color;

			&[lang="grc"] {
				font-family: $greek-font;
				letter-spacing: 2px;
			}
			// Relation label displayed above tree
			&.label {
				font-weight: 500;
				letter-spacing: 1px;
				fill: lighten($text-color, 5%);
				font-family: $main-font;
				font-size: 12px;
			}
		}
	}

	// Normally, orient footer to right
	.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: #F5F5F5;

		form {
			display: none;
		}

		&.open {
			height: 100%;
			box-sizing: border-box;
			overflow-y: scroll;
			border-left: 1px solid #EEE;
			width: 30%;
			min-width: 200px;
			
			form {
				display: block;
			}
		}
	}

	// On small screens, align to bottom
	@media all and (max-width: 500px) {
		.footer {
			border-top: 1px solid #EEE;
			border-left: 0;

			&.open {
				width: 100% !important;
				top: auto;
				overflow-y: scroll;
				height: 30%;
				min-height: 150px;
			}
		}
	}

	label {
		margin-bottom: 6px;
		display: block;
		font-weight: 600;
		letter-spacing: .1em;
	}

	form > div {
		padding: 15px;
		border-bottom: 1px solid #DDD;
		&.hidden {
			display: none;
		}
		&.shown {
			display: block;
		}
	}

	.form-footer {
		position: absolute;
		padding: 5px;
		bottom: 0;
		width: 100%;
		background-color: #EEE;
		box-sizing: border-box;
		text-align: right;
	}

	.sentence {
		border-bottom: 1px solid #EEE;
		padding: 12px;
		font-family: $greek-font;
		letter-spacing: 1px;
		font-size: 16px;
		padding-right: 30%;

		span {
			padding: 3px;
			margin: 2px;
			border-radius: 2px;
			background-color: transparent;
			-webkit-transition: background-color 700ms ease-out;
			-moz-transition: background-color 700ms ease-out;
			-o-transition: background-color 700ms ease-out;
			-ms-transition: background-color 700ms ease-out;
			transition: background-color 700ms ease-out;

			&.selected {
				background-color: $text-selected-bg-color;
				color: $text-selected-color;
				-webkit-transition: background-color 500ms ease-in;
				-moz-transition: background-color 500ms ease-in;
				-o-transition: background-color 500ms ease-in;
				-ms-transition: background-color 500ms ease-in;
				transition: background-color 500ms ease-in;
			}
		}
	}

	@-webkit-keyframes bounce {
		0% {
			top: -10px;
			animation-timing-function:ease-in;
		}
		37% {
			top: -4px;
			animation-timing-function:ease-out;
		}
		55% {
			top: -10px;
			animation-timing-function:ease-in;
		}
		73% {
			top: -7px;
			animation-timing-function:ease-out;
		}
		82% {
			top: -10px;
			animation-timing-function:ease-in;
		}
		91% {
			top: -8px;
			animation-timing-function:ease-out;
		}
		100% {
			top: -10px;
			animation-timing-function:ease-in;
		}
	}
	@keyframes bounce {
		0% {
			top: -10px;
			animation-timing-function:ease-in;
		}
		37% {
			top: -4px;
			animation-timing-function:ease-out;
		}
		55% {
			top: -10px;
			animation-timing-function:ease-in;
		}
		73% {
			top: -7px;
			animation-timing-function:ease-out;
		}
		82% {
			top: -10px;
			animation-timing-function:ease-in;
		}
		91% {
			top: -8px;
			animation-timing-function:ease-out;
		}
		100% {
			top: -10px;
			animation-timing-function:ease-in;
		}
	}
	.bounce {
		position: absolute;
		-webkit-animation: bounce .7s infinite;
		-moz-animation: bounce .7s;
		-o-animation: bounce .7s;
		animation: bounce .7s;
	}
	.tracker {
		color: #FFF;
		position: absolute;
	}
	.points {
		background-color: #04AFAF;
		padding: 5px 10px;
		float: left;
	}
	.feedback {
		float: left;
		display: inline-block;
		background-color: #636363;
		padding: 5px 13px;
		margin: 5px;
		border-radius: 2px;
	}
}
