$greek-font: Cambria, Serif;
$main-font: sans-serif;
$text-color: #333;
$text-selected-bg-color: #F8D3A7;
$text-selected-color: #333;
$link-save-color: #28C2B6;
$points-color: #28C2B6; 
$points-error-color: #AF2D04;

@mixin animate($name, $duration, $iteration-count, $timing-function) {
	-webkit-animation: $name $duration $iteration-count $timing-function;
	-moz-animation: $name $duration $iteration-count $timing-function;
	-o-animation: $name $duration $iteration-count $timing-function;
	animation: $name $duration $iteration-count $timing-function;
}
@-webkit-keyframes daphne-wiggle {
	0% {
		-webkit-transform: rotateZ(5deg);
	}
	50% {
		-webkit-transform: rotateZ(-5deg);
	}
	100% {
		-webkit-transform: rotateZ(5deg);
	}
}
@keyframes daphne-wiggle {
	0% {
		-webkit-transform: rotateZ(5deg);
	}
	50% {
		-webkit-transform: rotateZ(-5deg);
	}
	100% {
		-webkit-transform: rotateZ(5deg);
	}
}

@mixin daphne-bounce {
	0% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		transform: translateY(0em);
		animation-timing-function:ease-in;
	}
	37% {
		-webkit-transform: translateY(0em) translateY(-.9em);
		-moz-transform: translateY(0em) translateY(-.9em);
		transform: translateY(0em) translateY(-.9em);
		animation-timing-function:ease-out;
	}
	55% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		transform: translateY(0em);
		animation-timing-function:ease-in;
	}
	73% {
		transform: translateY(0em) translateY(-.5em);
		-moz-transform: translateY(0em) translateY(-.5em);
		-webkit-transform: translateY(0em) translateY(-.5em);
		animation-timing-function:ease-out;
	}
	82% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		transform: translateY(0em);
		animation-timing-function:ease-in;
	}
	91% {
		-moz-transform: translateY(0em) translateY(-.2em);
		-webkit-transform: translateY(0em) translateY(-.2em);
		transform: translateY(0em) translateY(-.2em);
		animation-timing-function:ease-out;
	}
	100% {
		-webkit-transform: translateY(0em);
		-moz-transform: translateY(0em);
		transform: translateY(0em);
		animation-timing-function:ease-in;
	}
}
@-webkit-keyframes daphne-bounce {
	@include daphne-bounce;
}

@keyframes daphne-bounce {
	@include daphne-bounce;
}

.daphne {
	border: 1px solid #EEE;
	background-color: #FFF;
	display: inline-block;
	position: relative;
	font-family: $main-font;
	font-size: 12px;
	width: 100%;
	height: 100%;

	.bounce {
		@include animate(daphne-bounce, .8s, 1, ease);
	}
	.wiggle {
		@include animate(daphne-wiggle, .2s, 3, ease);
	}

	.svg-container {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	a {
		font-size: 12px;
		display: inline-block;
		text-decoration: none;
		margin: 5px;

		&.save-link {
			color: #FFF;
			padding: 10px;
			background-color: $link-save-color;
			border-radius: 2px;
		}
		&.cancel-link {
			color: darken($link-save-color, 10%);
			border-bottom: 3px solid #BEBEBE;
			margin: 10px;
			padding: 2px;
		}

		&.export-link {
			position: absolute;
			right: 0;
			padding: 10px;

			&.xml {
				color: #F39F09;
			}
		}
	}

	.node {
		circle {
			stroke-width: 3px;
			fill: #FFF;

			&:hover, &.selected {
				stroke-width: 6px !important;
				cursor: pointer;
			}
		}
		text {
			font-size: 18px;
			fill-opacity: 1;
			fill: $text-color;

			&[lang="grc"] {
				font-family: $greek-font;
				letter-spacing: 2px;
			}
			// Relation label displayed above tree
			&.label {
				font-weight: 500;
				letter-spacing: 1px;
				fill: lighten($text-color, 5%);
				font-family: $main-font;
				font-size: 12px;
			}
		}
	}

	// Normally, orient footer to right
	.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: #F5F5F5;

		form {
			display: none;
		}

		&.open {
			height: 100%;
			box-sizing: border-box;
			overflow-y: scroll;
			border-left: 1px solid #EEE;
			width: 30%;
			min-width: 200px;
			
			form {
				display: block;
			}
		}
	}

	// On small screens, align to bottom
	@media all and (max-width: 500px) {
		.footer {
			border-top: 1px solid #EEE;
			border-left: 0;

			&.open {
				width: 100% !important;
				top: auto;
				overflow-y: scroll;
				height: 30%;
				min-height: 150px;
			}
		}
	}

	label {
		margin-bottom: 6px;
		display: block;
		font-weight: 600;
		letter-spacing: .1em;
	}

	form > div {
		padding: 15px;
		border-bottom: 1px solid #DDD;
		&.hidden {
			display: none;
		}
		&.shown {
			display: block;
		}
	}

	.form-footer {
		position: absolute;
		padding: 5px;
		bottom: 0;
		width: 100%;
		background-color: #EEE;
		box-sizing: border-box;
		text-align: right;
	}

	.sentence {
		border-bottom: 1px solid #EEE;
		padding: 12px;
		font-family: $greek-font;
		letter-spacing: 1px;
		font-size: 16px;
		padding-right: 30%;

		span {
			padding: 3px;
			margin: 2px;
			border-radius: 2px;
			background-color: transparent;
			-webkit-transition: background-color 700ms ease-out;
			-moz-transition: background-color 700ms ease-out;
			-o-transition: background-color 700ms ease-out;
			-ms-transition: background-color 700ms ease-out;
			transition: background-color 700ms ease-out;

			&.selected {
				background-color: $text-selected-bg-color;
				color: $text-selected-color;
				-webkit-transition: background-color 500ms ease-in;
				-moz-transition: background-color 500ms ease-in;
				-o-transition: background-color 500ms ease-in;
				-ms-transition: background-color 500ms ease-in;
				transition: background-color 500ms ease-in;
			}
		}
	}

	.tracker {
		color: #FFF;
		position: absolute;
		width: 100%;
	}
	.points {
		background-color: $points-color;
		position: absolute;
		padding: 5px 10px;
		display: inline-block;
		top: 0px;
		margin: 5px;
		-webkit-transition: background-color .5s ease-out;
		-moz-transition: background-color .5s ease-out;
		-o-transition: background-color .5s ease-out;
		transition: background-color .5s ease-out;

		&.error {
			background-color: $points-error-color;
			-webkit-transition: background-color .5s ease-in;
			-moz-transition: background-color .5s ease-in;
			-o-transition: background-color .5s ease-in;
			transition: background-color .5s ease-in;
		}
		&.success {
			background-color: lighten($points-color, 10%);
			-webkit-transition: background-color .5s ease-in;
			-moz-transition: background-color .5s ease-in;
			-o-transition: background-color .5s ease-in;
			transition: background-color .5s ease-in;
		}
	}
	.feedback {
		position: absolute;
		left: 40px;
		margin: 5px;
		padding: 5px;
		background: #333;
		border-radius: 3px;
		width: auto;
		display: inline-block;
		-webkit-transition: background-color .5s ease-out;
		-moz-transition: background-color .5s ease-out;
		-o-transition: background-color .5s ease-out;
		transition: background-color .5s ease-out;

		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 5px 5px 5px 0;
			border-color: transparent #333;
			display: block;
			width: 0;
			z-index: 1;
			margin-top: -5px;
			left: -5px;
			top: 50%;
			-webkit-transition: border-color 5s ease-out;
			-moz-transition: border-color .5s ease-out;
			-o-transition: border-color .5s ease-out;
			transition: border-color .5s ease-out;
		}

		&.hidden {
			color: transparent;
			background-color: transparent;
			-webkit-transition: background-color .5s ease-out;
			-moz-transition: background-color .5s ease-out;
			-o-transition: background-color .5s ease-out;
			transition: background-color .5s ease-out;

			&:after {
				border-color: transparent transparent;
				-webkit-transition: border-color 5s ease-out;
				-moz-transition: border-color .5s ease-out;
				-o-transition: border-color .5s ease-out;
				transition: border-color .5s ease-out;
			}
		}
	}
}
